{% extends 'main.html' %}

{% block content%}

{% if page == 'login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <label>Username:</label>
        <input name="username" type="text" placeholder="Enter username">

        <label>Password:</label>
        <input name="password" type="password" placeholder="Enter password">
        <button type="submit">Login</button>
    </form>

    <p>Havent signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Register</button>
    </form>

    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock%}